<%- include('../partials/head.ejs') %>

<main>

  <h1>Dashboard van <%= user.username %></h1>
  <p>Je kunt hier jouw instellingen voor het Twitter Dashboard aanpassen.</p>

  <ul>
    <li><a href="/dashboard/twitter">Twitter Dashboard</a></li>
    <li><a href="/account/logout">Uitloggen</a></li>
  </ul>


</main>

<%- include('../partials/head.ejs') %>
