<%- include('../partials/head.ejs') %>

<main>

  <h1>Dashboard</h1>
  <p>Het dashboard is nog in onderhoud</p>

  <p>Hi <%= data.username %></p>

  <ul>
    <li><a href="/dashboard/twitter">Twitter Stream</a></li>
    <li><a href="/dashboard/settings">Settings</a></li>
    <li><a href="/account/logout">Uitloggen</a></li>
  </ul>


</main>

<%- include('../partials/head.ejs') %>
