<%- include('../partials/head.ejs') %>

<main class="twitter">

  <h1>How is Amsterdam doing on Twitter?</h1>

  <h3><span class="tweetCounter"></span> nieuwe Tweets</h3>
  <p>Binnen gekomen in de laatste <span id="minutes">0</span> minuten en <span id="seconds"></span> seconden</p>
  <p id="average"></p>

  <ul class="allTweets">
  </ul>
<!--
  <ul>
    <li><a href="/dashboard/settings">Settings</a></li>
    <li><a href="/account/logout">Uitloggen</a></li>
  </ul> -->


</main>

<%- include('../partials/foot.ejs') %>
