<%- include('./partials/head.ejs') %>

<main>

  <h1>Homepage</h1>
  <p>Helaas is hier nog geen content</p>

  <ul>
    <li><a href="/dashboard">Ga naar dashboard</a></li>
  </ul>

</main>

<%- include('./partials/foot.ejs') %>
