<%- include('./partials/head.ejs') %>

<form method="post">
  <input type="text" name="username"  />
  <input type="text" name="password"  />
  <input type="submit" value="Send" />
</form>

<%- include('./partials/foot.ejs') %>
