<%- include('./partials/head.ejs') %>

<main>

  <h1>Homepage</h1>
  <p>Welkom op de Real Time Web application van Camille Sébastien Niessen</p>
  <p>Ga naar het <a href="/dashboard">dashboard</a> om de twitterstream te kunnen bekijken</p>
  <p>De applicatie is nog in bouw, bekijk de readme op Github voor de Wishlist</p>

  <ul>
    <li><a href="/dashboard">Ga naar dashboard</a></li>
  </ul>

</main>

<%- include('./partials/foot.ejs') %>
