<%- include('../partials/head.ejs') %>

<main class="twitter">

  <h1>How is Amsterdam doing on Twitter?</h1>

  <h3><span class="tweetCounter"></span> nieuwe Tweets</h3>
  <p>Binnen gekomen in de laatste <span id="minutes">0</span> <span id="minuteOrMinutes">minuten</span> en <span id="seconds"></span> <span id="secondOrSeconds">seconden</span></p>
  <p id="average"></p>

  <ul class="allTweets">
  </ul>

</main>

<%- include('../partials/foot.ejs') %>
